.endscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 1rem;
  text-align: center;
  background-color: #222;
  color: white;
  height: 100dvh;
  overflow-y: auto;
}

.endscreen__title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ddd;
  text-align: center;
}

