@import '@styles/startscreen.css';
@import './avatarselector.css';
@import './gamescreen.css';
@import '@styles/board.css';
@import './endscreen.css';
@import './exitgamemodal.css';
@import '@styles/podium.css';
@import '@styles/endgamemodal.css';
@import './fireworks.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
