.languageselector__button {
  background: transparent;
  border: none;
  padding: 12px 7px;
  cursor: pointer;
  min-width: 44px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.languageselector__flag {
  width: 30px;
  height: 20px;
  object-fit: cover;
  border: 1px solid black;
}

/* 🌙 DARK MODE */
.theme--dark .languageselector__flag {
  border: 1px solid var(--color-border-dark);
}