.playerspanel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
  padding: 0 1rem;
}

.playerspanel::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome */
}

@media (min-width: 600px) {
  .playerspanel {
    flex-wrap: nowrap;
    justify-content: center;
  }
}