.themeselector__btn {
  position: absolute;
  top: 1rem;
  right: 3.5rem; /* Space to the left of lang-btn */
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 50;
  width: 30px;
  height: 20px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.themeselector__icon {
  display: inline-block;
  line-height: 1;
}