.playerspanel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  margin: 0.25rem;
  overflow-x: auto;
  padding: 0 1rem;
}

.playerspanel::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome */
}

@media (min-width: 600px) {
  .playerspanel {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

@media (min-width: 900px) {
  .playerspanel {
    justify-content: center;
    gap: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .playerspanel {
    justify-content: space-evenly;
    padding: 1rem 2rem;
    gap: 2rem;
  }
}